body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  max-width: 400px;
  background: #e8e8e8;
  p {
    margin: 24px 0;
  }
  a {
    color: #D72346;
  }
}

.main {
  position: relative;
  overflow: hidden;
  .page {
    padding: 0 32px;
    position: relative;
    .logo-page-one {
      position: absolute;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
    }
    .logo-page-two {
      margin: 36px auto 0 auto;
      display: block;
    }
    .bold {
      font-weight: 600;
    }
  }
  .page-one {
    background: #D72346;
    height: 100vh;
    color: white;
  }
  .page-two {
    position: absolute;
    background: white;
    color: #4A4A4A;
    .container-hotel {
      p:first-child {
        margin-bottom: 8px;
      }
      img {
        width: 100%;
      }
      .quote {
        margin-top: 4px;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
  h2 {
    padding: 36px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

.line {
  margin-top: 4px;
  background: white;
  height: 4px;
  width: 48px;
}
.line-white {
  background: white;
}
.line-red {
  background: #D72346;
}
.underline {
  text-decoration: underline;
}

.code-input {
  input {
    width: calc(100% - 32px);
    letter-spacing: 1.5vh;
    border: 0;
    color: #4A4A4A;
    font-size: 1.2em;
    padding: 8px 16px;
    font-weight: 700;
    border-radius: 4px;
    margin: -8px auto;
  }
}

#media {
  p {
    margin-bottom: 8px;
  }
  video {
    width: 100%;
  }
}

.puzzelPrev {
  margin: -16px auto;
  width: 50%;
  display: block;
}
